/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
}

/* Utilities */

/* border */
.border-bl {
    border: 1px solid black;
}

/* margin */
.mg-10px {
    margin: 10px;
}

.mg-10-top {
    margin-top: 10px;
}

/* padding */
.pd-5px {
    padding: 5px;
}

.pd-20 {
    padding: 20px;
}

/* text */
.text-bl {
    color: black;
}

.text-wh {
    color: white;
}

.big-height {
    font-size: 36px;
}

/* background */
.bg-blue {
    background-color: rgb(49, 34, 214);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-lgrey {
    background-color: lightgray;
}

.width-50 {
    width: 50%;
}

.width-30 {
    width: 30%;
}

.width-80 {
    width: 80%;
}

/* HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(34, 100, 243);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.logo {
    width: 30%;
    text-align: center;
}

.link-list {
    width: 40%;
    text-align: center;
}

/* 2) Sezione "accedi" non capisco come farla */

/* Unico modo che ho trovato */
.login {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 280px;
}

/* MAIN */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: 1905px;
    height: 709px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 40%;
    text-align: center;
}

.Btn {
    padding: 12px 16px;
    border-radius: 20px;
}


/* 3) Non riesco a fare la freccia in grassetto, ho provato sia con <b></b> in html sia con la classe*/
/* .arrow {
    font-size: 20px;
    font-weight: 300;
} */

.card-2col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.card-1col {
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
   
}

/* 4) non capisco come modellare l'onda */
/* .wave {
    background-image: url(../img/wave.svg); 
} */

.end {
    background-image: url(../img/stars.svg);
    height: 50px;
    width: 400px;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    line-height: 75px;
    

    /* debug */
    background-color: red;
}